@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    backdrop-filter: blur(2px);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.4em 11.9em; 
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}



nav{
    display: flex;
    align-items: center;
}

nav ul{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    font-size: 1.6rem;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
}

section{
    padding: 12.5rem;
    height: 100vh;
    background: linear-gradient(117deg, black 0%, #1E1E1E 84%);
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

img{
    border-radius: 50%;
    border: white solid 5px;
    object-fit: cover;
    object-position: top;
}

.texto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#home{
    background-image: url("./assets/background.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



Link{
    color: white;
    text-decoration: none;
}